@using EntityLayer.Concrete
@model List<Job>

@{
    ViewData["Title"] = "JobList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="font-weight:bold;">İlandaki İşler</h1>

<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İş Başlığı</th>
        <th>İş Açıklaması</th>
        <th>İş Veren Firma</th>
        <th>Kategori</th>
        <th>Statü</th>
        <th>Başvuru Sayısı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.JobID</th>
            <td>@item.JobTitle</td>
            <td>@item.JobDescription</td>
            <td>@item.Employer.CompanyName</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.Status</td>
            <th><a href="/Admin/JobApplicationListDetails/@item.JobID">@item.ApplicationCount</a></th>
            <th>
                @if (item.Status == true)
                {
                    <a style="width:95px;height:50px;font-size:small;" href="/Admin/JobDelete/@item.JobID" class="btn btn-danger">Kaldır</a>
                }
                else
                {
                    <a style="width:95px;height:50px;" href="/Admin/JobActive/@item.JobID" class="btn btn-success">Yayına Al</a>
                }
            </th>
            <th><a href="/Admin/JobUpdate/@item.JobID" class="btn btn-warning">Güncelle</a></th>
        </tr>
    }
</table>