@using EntityLayer.Concrete
@model List<JobSeeker>

@{
    ViewData["Title"] = "JobSeekerList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="font-weight:bold;">İş Arayan Listesi</h1>

<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Soyisim</th>
        <th>Title</th>
        <th>Yaş</th>
        <th>Tecrübe</th>
        <th>Üniversite</th>
        <th>Email</th>
        <th>TelefonNo</th>
        <th>Şehir</th>
        <th>Şifre</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.JobSeekerID</th>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.Title</td>
            <td>@item.Age</td>
            <td>@item.Experience</td>
            <td>@item.University</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>@item.City</td>
            <td>@item.Password</td>
            <th><a href="/Admin/JobSeekerDelete/@item.JobSeekerID" class="btn btn-danger">Sil</a></th>
            <th><a href="/Admin/JobSeekerUpdate/@item.JobSeekerID" class="btn btn-warning">Güncelle</a></th>
        </tr>
    }
</table>