@using EntityLayer.Concrete
@model List<Job>


@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}



    <main>
        <!-- Intro -->
        <div class="intro">
            <div class="container">
                <div class="intro-text">
                    <h1>İş mi arıyorsun?<br><span class="green">Biz sana <br />yardımcı olacagız</span></h1>
                    <div class="check-out">
                        <div class="follow">
                            <span>Bizi takip edin</span>
                            <a href=""><img src="~/JobApplicationTemplate/img/icon/facebook-icon.svg" alt=""></a>
                            <a href=""><img src="~/JobApplicationTemplate/img/icon/twitter-icon.svg" alt=""></a>
                            <a href=""><img src="~/JobApplicationTemplate/img/icon/linkedin-icon.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="intro-img">
                    <img style="margin-top:80px" src="~/JobApplicationTemplate/img/intro.png" alt="">
                </div>
            </div>
        </div>

        <!--Search by category-->
        <div class="container">
            <div class="search-by"> 
            <h1>Tüm<span class="green"> Kategoriler</span></h1>

                <!--Start carousel-->
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">

                    <div class="carousel-inner text-center">
                        <div class="carousel-item active">

                            <div class="card-item">
                                <div class="photo">
                                    <img class="main-state" src="~/JobApplicationTemplate/img/icon/business-development.svg" alt="">
                                    <img class="hover" src="~/JobApplicationTemplate/img/icon/business-development-hover.svg" alt="">
                                </div>
                                <p>
                                    <span class="green">
                                        Yazılım<br>
                                        Geliştirme
                                    </span>
                                </p>
                            </div>

                            <div class="card-item">
                                <div class="photo">
                                    <img class="main-state" src="~/JobApplicationTemplate/img/icon/business-development.svg" alt="">
                                    <img class="hover" src="~/JobApplicationTemplate/img/icon/business-development-hover.svg" alt="">
                                </div>
                                <p>
                                    <span class="green">
                                        İnsan<br>
                                        Kaynakları
                                    </span>
                                </p>
                            </div>

                            <div class="card-item">
                                <div class="photo">
                                    <img class="main-state" src="~/JobApplicationTemplate/img/icon/business-development.svg" alt="">
                                    <img class="hover" src="~/JobApplicationTemplate/img/icon/business-development-hover.svg" alt="">
                                </div>
                                <p>
                                    <span class="green">
                                        Sağlık<br />
                                        Sektörü
                                    </span>
                                </p>
                            </div>

                            <div class="card-item">
                                <div class="photo">
                                    <img class="main-state" src="~/JobApplicationTemplate/img/icon/business-development.svg" alt="">
                                    <img class="hover" src="~/JobApplicationTemplate/img/icon/business-development-hover.svg" alt="">
                                </div>
                                <p>
                                    <span class="green">
                                        Eğitim &<br>
                                        Öğretim
                                    </span>
                                </p>
                            </div>

                        </div>

                        <div class="carousel-item">
                            <div class="card-item">
                                <div class="photo">
                                    <img class="main-state" src="~/JobApplicationTemplate/img/icon/business-development.svg" alt="">
                                    <img class="hover" src="~/JobApplicationTemplate/img/icon/business-development-hover.svg" alt="">
                                </div>
                                <p>
                                    <span class="green">
                                        Operasyon &<br>
                                        Lojistik
                                    </span>
                                </p>
                            </div>

                            <div class="card-item">
                                <div class="photo">
                                    <img class="main-state" src="~/JobApplicationTemplate/img/icon/business-development.svg" alt="">
                                    <img class="hover" src="~/JobApplicationTemplate/img/icon/business-development-hover.svg" alt="">
                                </div>
                                <p>
                                    <span class="green">
                                        Finans &<br>
                                        Muhasebe
                                    </span>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-nav">
                        <a class="nav-item" role="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"><img src="img/icon/prew-arrow.svg" alt=""></a>
                        <a class="nav-item" role="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"><img src="img/icon/next-arrow.svg" alt=""></a>
                    </div>
                </div>

            </div>

            <!--job offers-->
            <div class="job-offers">
                <h1>İş <span class="green">İlanları</span></h1>
                <a href="/Login/JobSeekerLogin/">Tüm iş ilanları <img style="width: 20px; margin-left: 20px;" src="~/JobApplicationTemplate//img/icon/arrow-right-icon.svg" alt=""></a>
                <div class="row pt-5">

                @foreach (var job in Model.Take(2))
                {
                    <div class="col-md-6">
                        <div class="offert-wrapper">
                            <div class="offert">
                                <div>
                                    <div class="offert-description">
                                        <div class="company-logo">
                                            <img src="@job.Employer.CompanyLogo" alt="">
                                        </div>
                                        <div class="description">
                                            <p class="company-name">@job.JobTitle</p>
                                            <p class="description">@job.JobDescription</p>
                                        </div>
                                    </div>
                                    <div class="offert-meta">
                                        <p class="location">Şehir: <span class="city">@job.Employer.City</span></p>
                                    </div>
                                </div>
                            </div>
                            <a href="/Login/JobSeekerLogin/" class="main-btn">Detaylar</a>
                        </div>
                    </div>
                }

                @foreach (var job in Model.TakeLast(2))
                {
                    <div class="col-md-6">
                        <div class="offert-wrapper">
                            <div class="offert">
                                <div>
                                    <div class="offert-description">
                                        <div class="company-logo">
                                            <img src="@job.Employer.CompanyLogo" alt="">
                                        </div>
                                        <div class="description">
                                            <p class="company-name">@job.JobTitle</p>
                                            <p class="description">@job.JobDescription</p>
                                        </div>
                                    </div>
                                    <div class="offert-meta">
                                        <p class="location">Şehir: <span class="city">@job.Employer.City</span></p>
                                    </div>
                                </div>
                            </div>
                            <a href="/Login/JobSeekerLogin/" class="main-btn">Detaylar</a>
                        </div>
                    </div>
                }

                </div>
            </div>

            <!--Top Notch Service-->
            <div class="service text-center">
                <h1><span class="green">Birinci </span>sınıf hizmet</h1>
                <div class="service-items">
                    <div class="item">
                        <img src="~/JobApplicationTemplate/img/icon/cv-icon.svg" alt="">
                        <span class="counter">59</span>
                        <span>İş İlanları</span>
                    </div>
                    <div class="item">
                        <img src="~/JobApplicationTemplate/img/icon/customers.svg" alt="">
                        <span class="counter">384</span>
                        <span>Memnun Müşteriler</span>
                    </div>
                    <div class="item">
                        <img src="~/JobApplicationTemplate/img/icon/applications.svg" alt="">
                        <span class="counter">682</span>
                        <span>Gönderilen başvurular</span>
                    </div>
                    <div class="item">
                        <img src="~/JobApplicationTemplate/img/icon/projects.svg" alt="">
                        <span class="counter">22</span>
                        <span>Gerçekleşmiş projeler</span>
                    </div>
                </div>
            </div>

            <!-- Newsletter -->

            <div class="update-news">
                <div class="row">
                    <div class="col-md-12 news-text">
                        <h1 style="text-align:center;color:white">Güçlü Gelecek</h1>
                        <p>
                        Sizi burada, depremzelerin yaşadığı zorluklara bir çözüm sunan bir iş başvuru sitesi olan GüçlüGelecek İş İlanları'na hoş geldiniz.
                        Belki de siz de benden önceki depremlerle ilgili haberleri izleyip, içler acısı durumlarla karşılaşmışsınızdır. İşte tam da
                        bu nedenle bu platformu hayata geçirmeye karar verdim.<br />
                        Deprem, doğal bir felakettir ve maalesef dünyanın her yerinde meydana gelebilir. 
                        Ancak, ne yazık ki, depremler genellikle en fazla etkilenen insanlar üzerinde büyük bir yıkım ve travma bırakır. 
                        Evsiz kalmak, sevdiklerini kaybetmek, sağlık sorunlarıyla mücadele etmek ve yaşamın normal akışına geri dönme çabaları, 
                        depremzelerin karşılaştığı zorluklardan sadece birkaçıdır.<br />
                        Bu iş başvuru sitesini oluşturma nedenim, insanların depremlerden etkilenen bölgelerde yaşamlarını yeniden kurmalarına 
                        yardımcı olmak, umutlarını ve güçlerini geri kazandırmaktır. Çünkü inanıyorum ki, her insanın çalışma hakkı vardır ve iş, 
                        yeniden başlama ve toparlanma sürecinde önemli bir rol oynar.

                        </p>
                    </div>
                </div>
            </div>

            <div class="find-jobs text-center">
                <h1><span class="green">Türkiyenin</span> dört bir yanından<br>iş bulun</h1>
            </div>

        </div>

    </main>
    
