@model EntityLayer.Concrete.Job


@{
    ViewData["Title"] = "JobUpdate";
    Layout = "~/Views/Shared/EmployerLayout.cshtml";
}

<h1 style="font-weight:bold;">İş Güncelleme Sayfası</h1>

@using (Html.BeginForm("JobUpdate", "Employer", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.JobID, new { @class = "form-control" })
        <br />
        @Html.Label("İş Başlığı:")
        @Html.TextBoxFor(x => x.JobTitle, new { @class = "form-control" })
        <br />
        @Html.Label("İş Açıklaması:")
        @Html.TextBoxFor(x => x.JobDescription, new { @class = "form-control" })
        <br />
        @Html.Label("İşi yayınlayan Kişi:")
        @Html.DropDownListFor(x => x.EmployerID, (List<SelectListItem>)ViewBag.employer, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori:")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.category, new { @class = "form-control" })
        <br />
        @Html.Label("Statü:")
        @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Değişiklikleri Kaydet</button>
    </div>
}